/**
 * Site header
 */
.site-header {
    margin-top: $spacing-unit * 2;
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}


/**
 * Skills content
 */
.skills {
    @include media-query($on-laptop) {
        column-count: 2;
        column-gap: $spacing-unit * 2;
    }
}
