---
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Skill from "../components/Skill.astro";
---

<Layout title="Andrew Garner">
  <nav>
    <p>
      <a href="mailto:andrew@andrewgarner.com">andrew@andrewgarner.com</a><br />
      <a href="https://github.com/andrewgarner">github.com/andrewgarner</a>
    </p>
  </nav>

  <Section id="summary" title="Summary">
    <p>
      I am a product&#8209;minded technical leader with broad experience delivering resilient systems. I am comfortable
      with ambiguity, owning challenging problems, and managing trade&#8209;offs.
    </p>
    <p>
      I enjoy continuous learning, sharing knowledge, and mentoring others. I enable teams to perform at their best by
      fostering collaboration and removing obstacles.
    </p>
    <p>Above all, I value curiosity, empathy, and simplicity.</p>
  </Section>

  <Section id="skills" title="Skills">
    <div class="sm:grid sm:grid-cols-2">
      <div>
        <Skill class="sm:mt-0" id="industry-knowledge" title="Industry Knowledge">
          <ul>
            <li class="m-0">Distributed systems</li>
            <li class="m-0">Domain&#8209;driven design</li>
            <li class="m-0">Evolutionary architectures</li>
            <li class="m-0">Extreme programming</li>
            <li class="m-0">Serverless architectures</li>
            <li class="m-0">Systems thinking</li>
            <li class="m-0">Test&#8209;driven development</li>
          </ul>
        </Skill>
        <Skill id="platforms-and-tools" title="Platforms & Tools">
          <ul>
            <li class="m-0"><a href="https://aws.amazon.com/">Amazon Web Services</a></li>
            <li class="m-0"><a href="https://www.datadoghq.com/">Datadog</a></li>
            <li class="m-0"><a href="https://www.cloudflare.com/">Cloudflare</a></li>
            <li class="m-0"><a href="https://github.com/actions/">GitHub Actions</a></li>
            <li class="m-0"><a href="https://cloud.google.com/">Google Cloud</a></li>
            <li class="m-0"><a href="https://kubernetes.io/">Kubernetes</a></li>
            <li class="m-0"><a href="https://www.terraform.io/">Terraform</a></li>
          </ul>
        </Skill>
      </div>
      <div>
        <Skill class="sm:mt-0" id="databases" title="Databases">
          <ul>
            <li class="m-0"><a href="https://aws.amazon.com/">DynamoDB</a></li>
            <li class="m-0"><a href="https://www.datadoghq.com/">PostgreSQL</a></li>
          </ul>
        </Skill>
        <Skill id="programming-languages" title="Programming Languages">
          <ul>
            <li class="m-0"><a href="https://www.java.com/">Java</a></li>
            <li class="m-0"><a href="https://www.ruby-lang.org/">Ruby</a></li>
            <li class="m-0"><a href="https://www.typescriptlang.org/">TypeScript</a></li>
          </ul>
        </Skill>
        <Skill id="runtimes-and-frameworks" title="Runtimes & Frameworks">
          <ul>
            <li class="m-0"><a href="https://nextjs.org/">Next.js</a></li>
            <li class="m-0"><a href="https://nodejs.org/">Node.js</a></li>
            <li class="m-0"><a href="https://react.dev/">React</a></li>
            <li class="m-0"><a href="https://rubyonrails.org/">Ruby on Rails</a></li>
            <li class="m-0"><a href="https://tailwindcss.com/">Tailwind CSS</a></li>
          </ul>
        </Skill>
      </div>
    </div>
  </Section>

  <Section id="experience" title="Experience">
    <Experience
      company="Cazoo"
      id="cazoo"
      roles={[
        { position: "Staff Software Engineer", period: { start: "2023-01", end: "2024-05" } },
        { position: "Senior Software Engineer", period: { start: "2021-06", end: "2022-12" } },
        { position: "Software Engineer", period: { start: "2020-09", end: "2021-05" } },
      ]}
    >
      <p>
        Cazoo transformed car buying and selling in the UK and Europe with a leading brand and supply chain. Launched in
        December&nbsp;2019, it grew rapidly, reaching a $1&nbsp;billion valuation by October&nbsp;2020, went public at
        $8&nbsp;billion in 2021, but entered administration in 2024.
      </p>
      <p>
        I contributed significantly to the rapid scaling of operations at Cazoo, building processes and technology from
        the ground up.
      </p>
      <ul>
        <li>
          Created a solution to enable logistics planning and execution to be brought in‑house, ultimately scaling to
          support ~160K used car sales.
        </li>
        <li>
          Architected services to reduce the launch time for Cazoo Customer Centres from 3&nbsp;weeks to 1&nbsp;hour,
          enabling rapid scaling from 1 to 9 locations in less than 1&nbsp;month. This expansion increased vehicle
          handover capacity, ultimately leading to an 8% increase in the overall conversion rate.
        </li>
        <li>
          Lead technical discovery in collaboration with <abbr title="artificial intelligence">AI</abbr> specialists from
          <a href="https://www.satalia.com/">Satalia</a> to enhance the scalability and efficiency of logistics planning.
          This resulted in the development of a custom optimisation model solving a novel vehicle routing problem.
        </li>
      </ul>
      <p>
        I also played a leading role in helping Cazoo transition to a pure&#8209;play automotive marketplace business
        model.
      </p>
      <ul>
        <li>
          Partnered with the product manager to run a series of experiments to learn how consumers might sell their car
          to a dealer through a Cazoo auction platform.
        </li>
        <li>
          Delivered incremental improvements across the purchasing funnel, focusing on key metrics such as valuation
          rate, offer rate, and acceptance rate.
        </li>
      </ul>
      <p class="text-sm italic">
        Tech Stack:
        <abbr title="Amazon Web Services">AWS</abbr> (<a href="https://aws.amazon.com/api-gateway/">API Gateway</a>,
        <a href="https://aws.amazon.com/dynamodb/">DynamoDB</a>,
        <a href="https://aws.amazon.com/eventbridge/">EventBridge</a>,
        <a href="https://aws.amazon.com/lambda/">Lambda</a>,
        <a href="https://aws.amazon.com/sns/"><abbr title="Simple Notification Service">SNS</abbr></a>,
        <a href="https://aws.amazon.com/sqs/"><abbr title="Simple Queue Service">SQS</abbr></a>),
        <a href="https://www.datadoghq.com/">Datadog</a>,
        <a href="https://github.com/actions/">GitHub Actions</a>,
        <a href="https://nextjs.org/">Next.js</a>,
        <a href="https://nodejs.org/">Node.js</a>,
        <a href="https://react.dev/">React</a>,
        <a href="https://www.terraform.io">Terraform</a>,
        <a href="https://www.typescriptlang.org/">TypeScript</a>.
      </p>
    </Experience>

    <Experience
      company="HSBC"
      id="hsbc"
      roles={[{ position: "Consulting Solutions Architect", period: { start: "2019-01", end: "2020-01" } }]}
    >
      <p>
        Designed and delivered a transformational onboarding capability for HSBC’s mobile&#8209;first business banking
        service, <a href="https://www.hsbckinetic.co.uk">Kinetic</a>, reducing small business account opening times from
        weeks to minutes.
      </p>
      <ul>
        <li>Aligned C&#8209;level stakeholders and collaborated with a global team.</li>
        <li>
          Designed systems to capture anti&#8209;money laundering (AML) and ‘know&nbsp;your&nbsp;customer’ (KYC) due
          diligence information.
        </li>
        <li>
          Modelled business processes using <a href="http://www.bpmn.org"
            ><abbr class="no-underline" title="Business Process Model and Notation">BPMN</abbr></a
          > and designed APIs using <a href="https://raml.org"
            ><abbr class="no-underline" title="RESTful API Modeling Language">RAML</abbr></a
          >.
        </li>
        <li>
          Developed microservice orchestration using <a href="https://www.activiti.org">Activiti’s</a>
          <abbr class="no-underline" title="Business Process Management">BPM</abbr> framework.
        </li>
        <li>
          Integrated with HSBC core banking systems, <a href="https://www.forgerock.com">ForgeRock</a> identity services,
          and <a href="https://onfido.com">Onfido</a> for document and biometric verification.
        </li>
      </ul>
      <p class="text-sm italic">
        Tech Stack:
        <a href="http://cloud.google.com/">Google Cloud</a>,
        <a href="https://kubernetes.io/">Kubernetes</a>,
        <a href="https://www.java.com">Java</a>.
      </p>
    </Experience>

    <Experience
      company="Government Digital Service - GOV.UK"
      id="gds"
      roles={[
        {
          position: "Consulting Software Engineer",
          period: { start: "2016-07", end: "2019-01" },
        },
      ]}
    >
      <ul>
        <li>
          Migrated the core publishing platform to a new
          <a href="https://content-api.publishing.service.gov.uk/">Content&nbsp;API</a>.
        </li>
        <li>
          Developed tools to support government publishers, enabling them to audit and measure the performance of
          published content.
        </li>
        <li>Enhanced navigational patterns and validated a topic taxonomy, improving content discoverability.</li>
        <li>Created a faceted search product specifically for Brexit content.</li>
        <li>
          Redesigned <a href="https://data.gov.uk">data.gov.uk</a>, the government’s open data platform, to help users
          better find, access and use public sector data.
        </li>
      </ul>
      <p class="text-sm italic">
        Tech Stack:
        <a href="https://rubyonrails.org/">Ruby on Rails</a>,
        <a href="https://rspec.info/">RSpec</a>,
        <a href="https://www.elastic.co/elasticsearch/">Elasticsearch</a>,
        <a href="https://www.postgresql.org/">PostgreSQL</a>,
        <a href="https://www.puppet.com/">Puppet</a>.
      </p>
    </Experience>

    <Experience
      company="HM Treasury"
      id="hm-treasury"
      roles={[
        {
          position: "Consulting Software Engineer",
          period: { start: "2014-09", end: "2016-04" },
        },
      ]}
    >
      <ul>
        <li>
          Worked in a cross-functional team to take Pension Wise, a service offering guidance on pension options, from
          concept to launch.
        </li>
        <li>Built prototypes and tested assumptions in a user research lab.</li>
        <li>
          Set up <abbr title="Continuous integration ">CI</abbr>/<abbr title="Continuous Delivery">CD</abbr> pipelines, configuring
          monitoring systems, and operational dashboards.
        </li>
      </ul>
      <p class="text-sm italic">
        Tech Stack:
        <a href="https://rubyonrails.org/">Ruby on Rails</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/">HTML</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/">CSS</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>,
        <a href="https://www.heroku.com/">Heroku</a>,
        <a href="https://www.twilio.com/">Twilio</a>.
      </p>
    </Experience>

    <Experience
      company="The Money Advice Service"
      id="the-money-advice-service"
      roles={[
        {
          position: "Consulting Software Engineer",
          period: { start: "2013-12", end: "2014-08" },
        },
      ]}
    >
      <p>
        Led a team at the UK government’s Money Advice Service to research, develop, and launch a new accessible design
        system and responsive website, enhancing the delivery of free and impartial financial advice.
      </p>
      <p class="text-sm italic">
        Tech Stack:
        <a href="https://rubyonrails.org/">Ruby on Rails</a>,
        <a href="https://www.postgresql.org/">PostgreSQL</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/">HTML</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/">CSS</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/">JavaScript</a>.
      </p>
    </Experience>

    <Experience
      company="Senior Software Engineer at Venntro"
      id="venntro"
      roles={[
        {
          position: "Senior Software Engineer",
          period: { start: "2011-05", end: "2012-09" },
        },
        {
          position: "Software Engineer",
          period: { start: "2009-12", end: "2011-03" },
        },
      ]}
    >
      <p>
        Scaled White&nbsp;Label&nbsp;Dating, an online dating platform, to support 25,000&nbsp;sites, achieving a new
        member sign&#8209;up every 3.5&nbsp;seconds and generating annual revenues exceeding £50&nbsp;million.
      </p>
      <p class="text-sm italic">
        Tech Stack:
        <a href="https://rubyonrails.org/">Ruby on Rails</a>,
        <a href="https://www.mysql.com/">MySQL</a>,
        <a href="https://www.rabbitmq.com/">RabbitMQ</a>,
        <a href="https://redis.io/">Redis</a>,
        <a href="https://www.puppet.com/">Puppet</a>.
      </p>

      <Experience
        company="iDEA"
        id="idea"
        roles={[
          {
            position: "Software Engineer",
            period: { start: "2008-02", end: "2009-11" },
          },
        ]}
      >
        <p>
          <a href="https://idea.eu">iDEA</a> are workplace design specialists. I created web apps for clients including the
          <a href="http://www.bbc.co.uk/aboutthebbc/"
            ><abbr class="no-underline" title="British Broadcasting Corporation">BBC</abbr></a
          >, <a href="http://www.gensler.com">Gensler</a>, <a href="http://www8.hp.com/us/en/hp-information"
            ><abbr class="no-underline" title="Hewlett‑Packard">HP</abbr></a
          >, <a href="http://www.johnsoncontrols.com/about-us/our-company">Johnson Controls</a>, <a
            href="https://www.microsoft.com/en-gb/about/">Microsoft</a
          >, and <a href="https://www.unilever.co.uk/about/">Unilever</a>.
        </p>
        <p class="text-sm italic">
          Tech Stack:
          <a href="https://rubyonrails.org/">Ruby on Rails</a>,
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/">HTML</a>,
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/">CSS</a>,
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/">JavaScript</a>.
        </p>
      </Experience>

      <Experience
        company="Lighthouse"
        id="lighthouse"
        roles={[
          {
            position: "Software Engineer",
            period: { start: "2004-06", end: "2008-01" },
          },
        ]}
      >
        <p>
          <a href="http://lighthouseuk.net">Lighthouse</a> are a small marketing and technology services agency. I worked
          on accounts for <a href="http://www.assaabloy.co.uk">ASSA Abloy</a> and
          <a href="https://new.siemens.com/global/en/products/energy.html">Siemens Energy Services</a>.
        </p>
        <p class="text-sm italic">
          Tech Stack:
          <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/">ASP.NET</a>,
          <a href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</a>,
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/">HTML</a>,
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/">CSS</a>,
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/">JavaScript</a>.
        </p>
      </Experience>
    </Experience>
  </Section>

  <Section id="qualifications" title="Qualifications">
    <ul>
      <li>
        BSc (Hons), Internet Computing with Industrial Experience [1:1],
        <a href="http://www.hull.ac.uk">The&nbsp;University&nbsp;of&nbsp;Hull</a>
      </li>
    </ul>
  </Section>
</Layout>
