---
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Andrew Garner">
  <div class="home">
    <p>
      <a href="mailto:andrew@andrewgarner.com">andrew@andrewgarner.com</a><br />
      <a href="https://github.com/andrewgarner">github.com/andrewgarner</a>
    </p>

    <Section id="summary" title="Summary">
      <p>
        I’m a senior software architect and engineer with broad experience of large&#8209;scale web&#8209;based
        application design, development, integration, hosting, testing, security and maintenance.
      </p>

      <p>
        I’ve worked extensively in multidisciplinary product teams and have an excellent understanding of designing for
        user needs. I’m able to translate between a technical and non&#8209;technical audience easily. I value empathy,
        communication and simplicity above all else.
      </p>
    </Section>

    <Section id="skills" title="Skills">
      <Experience id="industry-knowledge" title="Industry knowledge">
        <ul class="skills">
          <li>Agile methods</li>
          <li>Continuous delivery</li>
          <li>Service design</li>
          <li>Systems thinking</li>
          <li>Technical architecture</li>
          <li>Technical leadership</li>
          <li>Test&#8209;driven development</li>
          <li>User research</li>
        </ul>
      </Experience>

      <Experience id="tools-and-technologies" title="Tools & technologies">
        <ul class="skills">
          <li><a href="https://www.ruby-lang.org">Ruby</a></li>
          <li><a href="https://nodejs.org">Node.js</a></li>
          <li><a href="https://www.oracle.com/java">Java</a></li>
          <li><a href="https://www.w3.org/Style/CSS">CSS</a></li>
          <li><a href="https://html.spec.whatwg.org">HTML</a></li>
          <li><a href="https://aws.amazon.com">Amazon&nbsp;Web&nbsp;Services</a></li>
          <li><a href="https://cloud.google.com">Google&nbsp;Cloud</a></li>
          <li><a href="https://www.heroku.com">Heroku</a></li>
          <li><a href="https://www.docker.com">Docker</a></li>
          <li><a href="https://kubernetes.io">Kubernetes</a></li>
          <li><a href="https://www.nginx.com">NGINX</a></li>
          <li><a href="https://puppet.com">Puppet</a></li>
          <li><a href="https://www.terraform.io">Terraform</a></li>
          <li><a href="https://www.elastic.co/elasticsearch">Elasticsearch</a></li>
          <li><a href="https://www.mysql.com">MySQL</a></li>
          <li><a href="http://www.postgresql.org">PostgreSQL</a></li>
          <li><a href="https://www.rabbitmq.com">RabbitMQ</a></li>
          <li><a href="https://redis.io">Redis</a></li>
        </ul>
      </Experience>
    </Section>

    <Section id="projects" title="Projects">
      <Experience
        id="hsbc-kinetic"
        title="HSBC Kinetic"
        period={{
          start: "2019-01",
          end: "2020-01",
        }}
      >
        <p>
          As a technical architect, I helped HSBC deliver a digital onboarding capability for its new digital business
          banking proposition, <a href="https://www.hsbckinetic.co.uk">Kinetic</a>, built with Google&nbsp;Cloud. This
          included:
        </p>

        <ul>
          <li>
            Working with and aligning multiple C&#8209;level business stakeholders, and collaborating with a globally
            distributed team
          </li>
          <li>
            Designing systems to capture anti&#8209;money laundering and ‘know&nbsp;your&nbsp;customer’ due diligence
            information
          </li>
          <li>
            Modelling onboarding processes using
            <a href="https://www.uml.org"><abbr title="Unified Modeling Language">UML</abbr></a> and
            <a href="http://www.bpmn.org"><abbr title="Business Process Model and Notation">BPMN</abbr></a>
          </li>
          <li>
            Designing RESTful APIs using <a href="https://raml.org"
              ><abbr title="RESTful API Modeling Language">RAML</abbr></a
            >
          </li>
          <li>
            Integrating <a href="https://www.activiti.org">Activiti’s</a> open&#8209;source
            <abbr title="Business Process Management">BPM</abbr> framework
          </li>
          <li>Integrating with HSBC core banking systems</li>
          <li>
            Integrating with <a href="https://www.forgerock.com">ForgeRock</a>
            <a href="https://www.forgerock.com/platform/identity-management">OpenIDM</a> and
            <a href="https://www.forgerock.com/platform/access-management">OpenAM</a>
            identity and access management services
          </li>
          <li>
            Integrating with <a href="https://onfido.com">Onfido</a> document identification and facial biometric verification
            services
          </li>
        </ul>
      </Experience>

      <Experience
        id="gov-uk"
        title="GOV.UK"
        period={{
          start: "2016-06",
          end: "2019-01",
        }}
      >
        <p>
          As a senior software engineer, I helped the Government Digital Service with a number of its missions. This
          included:
        </p>

        <ul>
          <li>
            Migrating the core publishing platform to a new
            <a href="https://content-api.publishing.service.gov.uk/">Content&nbsp;API</a>
          </li>
          <li>
            Making tools to support publishers across government allowing them to audit and measure the performance of
            published content
          </li>
          <li>
            Iterating navigational patterns and validating a topic taxonomy using machine learning and natural language
            processing to make it easier to find relevant content
          </li>
          <li>Making a faceted search product for Brexit content</li>
          <li>
            Redesigning <a href="https://data.gov.uk">data.gov.uk</a>, an open data platform
          </li>
        </ul>
      </Experience>

      <Experience
        id="pension-wise"
        title="Pension Wise"
        period={{
          start: "2014-09",
          end: "2016-04",
        }}
        github="guidance-guarantee-programme"
      >
        <p>
          I helped <a href="https://www.gov.uk/government/organisations/hm-treasury">
            <abbr title="Her Majesty’s">HM</abbr>&nbsp;Treasury</a
          > launch a new service offering guidance for people regarding their pension options. This included:
        </p>

        <ul>
          <li>
            <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works">Discovery</a>,
            <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works">alpha</a>,
            <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works">beta</a> and
            <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-live-phase-works">live</a>
            stages of the project
          </li>
          <li>Building prototypes and testing ideas in a user research lab</li>
          <li>
            Building web applications with <a href="https://rubyonrails.org">Ruby on Rails</a>, <a
              href="https://cucumber.io/tools/cucumber-open/">Cucumber</a
            > and
            <a href="https://rspec.info">RSpec</a>
          </li>
          <li>
            Setting up pipelines to allow frequent, low&#8209;risk deployments using <a href="https://www.heroku.com"
              >Heroku</a
            > and
            <a href="https://travis-ci.org">Travis CI</a>
          </li>
          <li>Configuring monitoring systems and dashboards</li>
          <li>
            Integrating with <a href="https://www.twilio.com">Twilio</a> and <a href="https://www.zendesk.com"
              >Zendesk</a
            >
          </li>
        </ul>
      </Experience>

      <Experience
        id="money-advice-service"
        title="Money Advice Service"
        period={{
          start: "2013-12",
          end: "2014-08",
        }}
        github="moneyadviceservice/frontend"
      >
        <p>
          I lead a new team in a company&#8209;wide agile transformation developing a
          <a href="https://www.moneyadviceservice.org.uk">responsive and accessible website</a>. This included:
        </p>

        <ul>
          <li>Adopting a hexagonal architecture in Ruby on Rails</li>
          <li>Adopting feature toggles</li>
          <li>Creating a design system containing styles, components and patterns</li>
        </ul>
      </Experience>

      <Experience id="white-label-dating" title="White Label Dating">
        <p>
          I worked on a number of projects to support the rapid growth of the White Label Dating platform. This
          included:
        </p>

        <ul>
          <li>
            Mobile platform: A new web application and service layer consisting of a
            <a href="https://rubyonrails.org">Ruby on Rails</a> responsive frontend,
            <a href="https://www.ruby-lang.org">Ruby</a>
            <abbr title="representational state transfer">REST</abbr> APIs, and a Node.js router and authentication service.
            Continuous deployments to
            <a href="http://www.rackspace.co.uk/cloud">Rackspace Cloud</a> infrastructure described and orchestrated with
            <a href="https://puppet.com">Puppet</a>.
          </li>
          <li>
            Event&#8209;streaming platform: <a href="https://www.rabbitmq.com">RabbitMQ</a> and
            <a href="https://www.ruby-lang.org">Ruby</a> microservices supporting a number of use cases such as application
            push notifications, <abbr title="content delivery network">CDN</abbr> purging and detecting dating scammers.
          </li>
          <li>
            Transactional email platform: A new pipeline for rendering and sending personalised member emails using
            <a href="https://www.rabbitmq.com">RabbitMQ</a> and <a href="https://www.ruby-lang.org">Ruby</a>
            microservices. Peak volumes were in excess of 20M emails per day.
          </li>
        </ul>
      </Experience>
    </Section>

    <Section id="experience" title="Experience">
      <Experience id="surefire" title="Founder and Principal Consultant at SureFire" period={{ start: "2012-10" }}>
        <p>
          <a href="https://www.surefirething.co.uk">SureFire</a> helps startups, nonprofits, enterprise companies and governments
          make digital products and services.
        </p>

        <p>
          I have worked with clients including the
          <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a
          >,
          <a href="https://www.gov.uk/government/organisations/hm-treasury">
            <abbr title="Her Majesty’s">HM</abbr>&nbsp;Treasury</a
          >,
          <a href="https://www.hsbc.co.uk">HSBC</a> and the
          <a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a>.
        </p>
      </Experience>

      <Experience
        id="venntro"
        title="Senior Software Engineer at Venntro"
        period={{ start: "2009-12", end: "2012-09" }}
      >
        <p>
          <a href="http://www.venntro.com">Venntro</a> is a <a href="http://www.fast50.co.uk">Deloitte Fast 50</a>
          technology business. Their award&#8209;winning service, <a href="http://www.whitelabeldating.com"
            >WhiteLabelDating.com</a
          >, provides a market&#8209;leading online dating technology for brands and entrepreneurs. It is a
          multi&#8209;tenant platform supporting over 25<abbr title="thousand">k</abbr> online dating sites, with a new member
          signing up every 3.5 seconds, generating revenues in excess of £50<abbr title="million">m</abbr>/year.
        </p>

        <p>
          I lead a development team servicing a stack consisting of <a href="https://www.ruby-lang.org">Ruby</a>,
          <a href="https://nodejs.org/en">Node.js</a>,
          <a href="http://www.adobe.com/uk/products/coldfusion-family.html">ColdFusion</a>,
          <a href="https://www.mysql.com">MySQL</a>, <a href="https://www.rabbitmq.com">RabbitMQ</a>,
          <a href="http://redis.io">Redis</a>, <a href="https://memcached.org">Memcached</a>,
          <a href="http://sphinxsearch.com">Sphinx</a> and <a href="https://puppet.com">Puppet</a>.
        </p>
      </Experience>

      <Experience id="idea" title="Software Engineer at iDEA" period={{ start: "2008-02", end: "2009-11" }}>
        <p>
          <a href="https://idea.eu">iDEA</a> is a design studio specialising in workplace consulting, interiors, sustainability
          and digital. I worked with clients including the
          <a href="http://www.bbc.co.uk/aboutthebbc/"><abbr title="British Broadcasting Corporation">BBC</abbr></a>,
          <a href="http://www.gensler.com">Gensler</a>,
          <a href="http://www8.hp.com/us/en/hp-information"><abbr title="Hewlett‑Packard">HP</abbr></a>,
          <a href="http://www.johnsoncontrols.com/about-us/our-company">Johnson Controls</a>,
          <a href="https://www.microsoft.com/en-gb/about/">Microsoft</a>,
          <a href="http://www.callisonrtkl.com/about/">CallisonRTKL</a> and
          <a href="https://www.unilever.co.uk/about/">Unilever</a>.
        </p>
      </Experience>

      <Experience id="lighthouse" title="Software Engineer at Lighthouse" period={{ start: "2004-06", end: "2008-01" }}>
        <p>
          <a href="http://lighthouseuk.net">Lighthouse</a> are a small marketing and technology services agency. I worked
          on accounts for <a href="http://www.assaabloy.co.uk">ASSA Abloy</a> and
          <a href="https://new.siemens.com/global/en/products/energy.html">Siemens Energy Services</a>.
        </p>
      </Experience>
    </Section>

    <Section id="qualifications" title="Qualifications">
      <ul>
        <li>
          BSc (Hons), Internet Computing with Industrial Experience [1:1],
          <a href="http://www.hull.ac.uk">The&nbsp;University&nbsp;of&nbsp;Hull</a>
        </li>
      </ul>
    </Section>
  </div>
</Layout>

<style is:global lang="scss">
  @use "../styles/mixins" as *;
  @use "../styles/variables" as *;

  .skills {
    @include media-query($on-laptop) {
      column-count: 2;
      column-gap: calc($spacing-unit * 2);
    }
  }
</style>
