---
import { DateTime } from "luxon";

interface Props {
  isoString: string;
}

const { isoString }: Props = Astro.props;
const value = DateTime.fromISO(isoString);
---

<time datetime={value.toFormat("yyyy-dd")}>
  <span class="md:hidden">{value.toFormat("MMM yyyy")}</span><span class="hidden md:inline"
    >{value.toFormat("LLLL yyyy")}</span
  >
</time>
