---
import "@fontsource-variable/sometype-mono";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Andrew Garner is a technical practitioner based in London." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>{title}</title>
    <link rel="canonical" href="https://www.andrewgarner.com/" />
  </head>
  <body class="bg-stone-50 px-8 pt-16 sm:pt-32">
    <div
      class="prose prose-stone prose-headings:font-normal prose-a:font-normal prose-a:underline-offset-2 prose-a:decoration-stone-400 prose-a:hover:decoration-stone-900 prose-li:marker:text-stone-400 mx-auto text-pretty font-mono tracking-tight subpixel-antialiased [font-kerning:normal]"
    >
      <header>
        <h1>Andrew Garner</h1>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <p class="mb-8 mt-16 text-sm sm:mb-32">Copyright © Andrew Garner.</p>
      </footer>
    </div>
  </body>
</html>
