---
import sometypeMonoWoff2 from "@fontsource-variable/sometype-mono/files/sometype-mono-latin-wght-normal.woff2";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<style is:global>
  @font-face {
    font-family: "Sometype Mono Variable";
    font-style: normal;
    font-display: fallback;
    font-weight: 400 700;
    src: url(@fontsource-variable/sometype-mono/files/sometype-mono-latin-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
</style>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="Andrew Garner is a technical practitioner based in London." name="description" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
    <title>{title}</title>
    <link href="https://www.andrewgarner.com/" rel="canonical" />
    <link as="font" crossorigin href={sometypeMonoWoff2} rel="preload" type="font/woff2" />
  </head>
  <body class="bg-stone-50 px-8 pt-16 sm:pt-32 dark:bg-stone-800">
    <div
      class="prose prose-stone mx-auto text-pretty font-mono tracking-tight subpixel-antialiased [font-kerning:normal] dark:prose-invert prose-headings:font-normal prose-a:font-normal prose-a:decoration-stone-400 prose-a:underline-offset-2 hover:prose-a:decoration-stone-900 prose-li:marker:text-stone-400 dark:prose-a:text-stone-300 dark:prose-a:decoration-stone-400 dark:hover:prose-a:decoration-current"
    >
      <header>
        <h1>Andrew Garner</h1>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <p class="mb-8 mt-16 text-sm sm:mb-32">Copyright © Andrew Garner.</p>
      </footer>
    </div>
  </body>
</html>
